services:
  next-app:
    build:
      context: .
      args:
        - NODE_ENV=development
    volumes:
      - .:/src
      - /src/node_modules
      # - /src/.next
    env_file:
      - .env.development
    command: npm run dev -- -H 0.0.0.0
    ports:
      - "3000:3000"
    environment:
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true